.jumbotron {
    padding:70px 30px 70px 30px;
    margin:0px auto;
    background: steelblue;
    color:white;
}
.btn{
    background-color: silver;
}
.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:300px;
    text-align: justify;
    text-justify: inter-word
}
.footer{
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 20px 0px 20px 0px;
    background-color: lightsteelblue;
}
